body {
  margin: 0%;
  padding: 0%;
  font-family: 'Lato', sans-serif
}
.head{
  width: 99vw;
  height: 10vh;
  background-color: #EEDD82;
  color: black;
  font-family: 'Spirax', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.btnList{
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}

.green{
  background-color: green;
}

red{
  background-color: red;
}

.foot{
  width: 99vw;
  height: 10vh;
  background-color: #EEDD82;
  color: black;
  font-family: 'Spirax', cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}